.sign-top{
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    font-size: 50px;
    margin-top: 20px;
    
}

.form {
    
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
    max-width: 100%;
    align-items: center;
    

}

.form input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.error-para{
    text-align: center;
    padding: 5px;
    color: red;
    font-size: 16px;
    font-weight: 500;
}

.form button{
    
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    
}


